header {
	text-align: center;
}

body {
	background-image: url("/img/background.png");
}

.container {
	background-color: rgba(255, 255, 255, 0.98);
	overflow-y: auto;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
