---
---

<h3>Soundcloud <small>April 11, 2015</small></h3>

<h4><a href="https://soundcloud.com/deepsounds/prospa-love-the-way-ft-hameed-edmcom-exclusive">Prospa - Love The Way Ft. Harris Hameed</a></h4>

<a href="#" onclick='addSoundcloud(this, "https%3A//api.soundcloud.com/tracks/170192226")'><span class="glyphicon glyphicon-play"></span></a>
