---
---

<h3>Soundcloud <small>April 18, 2015</small></h3>

<h4><a href="http://soundcloud.com/nickraymondg/autoerotique-badman-torro-torro-remix-premiere">Autoerotique & Max Styler - Badman (Torro Torro Remix)</a></h4>

<a herf="#" onclick="addSoundcloud(this, 'https%3A//api.soundcloud.com/tracks/196705190')"><span class="glyphicon glyphicon-play"></span></a>
