---
---

<h3>Soundcloud <small>May 12, 2015</small></h3>

<h4><a href="http://soundcloud.com/designerdrugs/manics-high-floors-designer-drugs-remix">Manics - High Floors (Designer Drugs Remix)</a></h4>

<a herf="#" onclick="addSoundcloud(this, 'https%3A//api.soundcloud.com/tracks/205157665')"><span class="glyphicon glyphicon-play"></span></a>
