---
---

<h3>Soundcloud <small>June 03, 2015</small></h3>

<h4><a href="http://soundcloud.com/kidnap_kid/fall">Kidnap Kid - Fall</a></h4>

<a herf="#" onclick="addSoundcloud(this, 'https%3A//api.soundcloud.com/tracks/208620381')"><span class="glyphicon glyphicon-play"></span></a>
