---
title: Home - Victor Hong
---

<div class="row">

	<div class="col-sm-9">
	</div>

	<div class="col-sm-3">
		<div><img src="http://www.gamedev.net/favicon.ico"/><a href="http://www.gamedev.net/user/116778-mrhyperpenguin/"> GameDev.net</a></div>
		<div><img src="https://avatars3.githubusercontent.com/u/9919?v=3&s=16"/><a href="https://github.com/victorqhong"> Github</a></div>
		<div><img src="https://ssl.gstatic.com/ui/v1/icons/mail/favicon.ico"/><a href="mailto:contact@victorqhong.com"> Gmail</a></div>
		<div><img src="https://news.ycombinator.com/y18.gif"/><a href="https://news.ycombinator.com/user?id=victorqhong"> Hacker News</a></div>
		<div><img src="https://soundcloud.com/favicon.ico"/><a href="https://soundcloud.com/victorqhong"> SoundCloud</a></div>
	</div>
</div>
