---
title: Feed - Victor Hong
---

{% for item in site.feed reversed %}
<p>{{ item.content }}</p>

<hr />
{% endfor %}

<script>
function addSoundcloud(element,url){element.innerHTML='<iframe width="100%" height="150" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=' + url + '&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>'}
function addYoutube(element,url){element.innerHTML='<iframe width="100%" height="395" src="https://www.youtube-nocookie.com/embed/' + url + '?rel=0" frameborder="0" allowfullscreen></iframe>'}
</script>
