<!DOCTYPE HTML>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{ page.title }}</title>

		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>

		<div class="container">
			<div class="row">
				<header>
					<h1>Victor Q. Hong</h1>
					<br />
					<nav>
						<div class="col-xs-4"><a href="/">Home</a></div>
						<div class="col-xs-4"><a href="/feed/">Feed</a></div>
						<div class="col-xs-4"><a href="/about/">About</a></div>
					</nav>
				</header>
			</div>

			<hr style="margin-bottom:0"></hr>
			<div class="row">
				<section>
					<div class="col-xs-12">{{ content }}</div>
				</section>
			</div>

			<hr />
			<div class="row">
				<div class="col-xs-12">
					<p>Copyright Victor Hong. Source on <a href="https://github.com/victorqhong/website">Github</a></p>	
				</div>
			</div>

		</div>
		
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>
